.navbar-brand{
    font-family: Arial Narrow Bold;
    font-size: 32px;
}

.body {
    background-image: url(img/ec56170d71aeafb3dedf45426ea8b6dc.jpg);
    background-size: cover;
    height: 850px;
    margin-top:-75px;
}

.navbar-link,.nav-link{
    color: whites !important;
    text-shadow: 1px 1px 1px rgba (0,  0,  0, 0, 10);
}

.jumbotron .display-4{
    color: white;
    text-align: center;
    margin-top: 70px;
}

.jumbotron .lead{
    color:black;
    text-align: center;
    margin-top: 14px;
}

.nav-link{
    text-transform: uppercase;
    margin-right: 30px;
}

.nav-link:hover{
    border-bottom: 3px solid #0B63DC; 
    padding-bottom: 5px;
    margin-bottom: -8px;
}